.navbar{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav-title{
  font-size: 1.31rem;
  color: #FFFFFF;
}

.nav-project{
  font-size: 0.75rem;
  margin-left: auto;
  padding-right: 29px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

.nav-img{
  height: 27px;
  width: 32px;
  padding-left: 29px;
  padding-right: 7px;
}


.form{
  display: flex;
  flex-direction: column;
  padding: 37px 28px;
  gap: 13px;
}

.form-inputs{
  display: flex;
  gap: 34px;
}

.form-label{
  display: block;
}

.form-input{
  width: 46.6vw;
  height: 35px;
  border-radius: 5px;
  margin-top: 4px;
  border-color: #D1D5DB;
}



.submit-btn{
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}



.meme {
  position: relative;
}

.meme-image {
  width: 100%;
  border-radius: 3px;
  height: 68vh;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}